/*Content Navigation*/

.table thead th {
	border-top: 1px solid #c3e6cb;
	border-bottom: 2px solid #c3e6cb;
}

td > button {
	background-color: transparent;
	border: none;
	line-height: 1;
	font-size: 1.1rem;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

#objectDetailsTable {
	width: unset;
}

#objectDetailsTable th,
#objectDetailsTable td {
	padding: 0.5rem 1.5rem;
}

#header {
	border-bottom: 2px solid #E9E9E9;
}

.page-container {
	background-color: #FFFFFF;
}

.page-content {
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	margin-bottom: 0;
	border-radius: 0;
}

.nav-tabs .nav-link.active {
	background-color: #E0E0E0;
	border-color: #DEE2E6 #DEE2E6 #E0E0E0;
}

.page-content > div {
	background-color: #E0E0E0;
}

.jumbotron {
	background-color: #FFFFFF;
}

.alert {
	margin: 3px 20px;
	text-align: center;
}